.sign-up {
    grid-row: content-s/content-e;
    grid-column: s/e;

    &-page-title {

    }

    &__form {
        display: grid;
        grid-template-rows: [email-s] 64px [email-e password-s] 64px [password-e] minmax(20px, 289px) [line-s] 2px [line-e login-s] 38px [login-e];
        grid-template-columns: 1fr;
    }
}

.sign-up-form {

    & > * {
        grid-column: 1/-1;
    }

    &-email {
        grid-row: email-s/email-e;
    }

    &-password{
        margin-top: 15px;
        grid-row: password-s/password-e;

    }

    &-line {
        grid-row: line-s/line-e;
        border-top: 1px solid #cccccc;
    }

    &-login {
        grid-row: login-s/login-e;
        margin-top: 39px;

    }
    &-details {
        grid-row: 1/-1;
        grid-column: 1/-1;
        justify-self: end;
        align-self: start;
    }
}