html {
    font-size: 62.5%;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans';
    color: #808080;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
}

@import './layout.scss';
@import './header-navbar.scss';
@import './page-title.scss';
@import './form-fields.scss';
@import "./details.scss";

// Auth
@import './auth/sign-in.scss';
@import './auth/sign-up.scss';



//Account
@import "./account/account-information.scss";
@import "./account/purchase-history.scss";
@import "./account/account.scss";

//Shop
@import './shop/shop.scss';
@import './shop/shop-searchbar.scss';
@import './shop/shop-product.scss';

//Cart
@import './shop/shop-cart.scss';
@import './shop/cart-product.scss';

// Quantity
@import './quantity.scss';
@import './green-price-tag.scss';

// Review
@import './order/review.scss';
@import './order/review-form.scss';
@import './order/review-product.scss';

// Information
@import './information/shipping.scss';
@import './information/payment.scss';
@import './information/info-helper.scss';