html {
    font-size: 62.5%;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans';
    color: #808080;
}

@import './layout.scss';
@import './header-navbar.scss';
@import './auth/sign-in.scss';
@import './auth/sign-up.scss';
@import './page-title.scss';
@import './form-fields.scss';
@import "./details.scss";
@import "./account/account-information.scss";
@import "./account/purchase-history.scss";
@import "./account/account.scss";