.quantity{
    display: grid;
    grid-template-rows: [s] 21px [m] 21px [e];
    grid-template-columns: [s] 65px [m] 29px [e];


    &-count,
    &-plus,
    &-minus{
        border: 1px solid #e6e6e6;
        display: grid;
        justify-items: center;
        align-items: center;
        height: 21px;
        width: 29px;

    }

    &-count{
        grid-row: s/e;
        grid-column: s/m;

        height: 42px;
        width: 65px;
        border-radius: 3px 0 0 3px;
        font-size: 23px;
        color: #333333;
        
    }
    &-plus{
        grid-row: s/m;
        grid-column: m/e;
        border-radius: 0 3px 0 0;
    }
    &-minus{
        grid-row: m/e;
        grid-column: m/e;
        border-radius: 0 0 3px 0;
    }
}