.review-form{

    &-legend{
        grid-row: legend-s/legend-e;
        grid-column: 1/-1;
        font-size: 14px;
        border-bottom: 1px solid #cccccc;
        padding-bottom: 11px;
    }
    
    &-products{
        grid-column: 1/-1;
        grid-row: products-s/products-e;
        overflow-y: scroll;
        display: grid;
        grid-template-rows: repeat(auto-fit, 80px);
        grid-row-gap: 12px;
        justify-self: center;
    }
    &-line{
        grid-column: 1/-1;
        grid-row: line-s/line-e;
        border-top: 1px solid #cccccc;
        margin-bottom: 24px;
    }
    &-back{
        grid-column: back-s/back-e;
        grid-row: buttons-s/buttons-e;
    }
    &-proceed{
        grid-row: buttons-s/buttons-e;
        grid-column: proceed-s/proceed-e;
    }
}

